<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/app.css" /> {# ① #}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	{% include '_menu.html.twig' %} {# ② #}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>